.table{
    background-color: #fdddb5 !important;
}

td,th,tr{
    color: #08321e;
    font-family: 'Playfair Display SC', serif;
}
thead{
    background-color: #E3C6A2;
}

.card-header{background-color: #E3C6A2;
font-size: x-large;}
.card,li{
    background-color: #fdddb5 !important;
    color: #08321e !important;
    font-family: 'Playfair Display SC', serif;
    list-style-type: none
}

.btn{
    vertical-align: baseline;
    border-radius: 0%;
}