.cadre{
    background: #fdddb5;
}

.datas{
    color:#08321e;
font-family: 'Playfair Display SC', serif;
}

.btn{
        color: #fdddb5;
            font-family: 'Playfair Display SC', serif;
                background: #08321e;
}